.title {
  color: #02ccba;
}
.main {
	background: #d9eeec;
}
.footer {
	border-top: 1px solid #eee;
	font-family: "AvenirNext", sans-serif;
	background: white;
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;
}
.footer-main {
	background-color: #d2f5e3;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
}
div {
	display: block;
}
.logo {
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}
.footer-logo {
	margin-top: 1opx;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 120px;
	padding-bottom: 25px;
	height: auto;
}
h1 {
	display: block;
	font-size: 1.50em;
	color: #07689f;
}
a, p {
	list-style: none;
}
p {
	display: block;
	padding: 20px;
	text-align: center;
}
.row .about a {
	margin-top:10px;
	margin-bottom: 10px;
	margin-left: 40px;
	margin-right: 40px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
	float: left;
	text-align: center:
}

.row .copyright {
	font-size: 0.625rem;
	padding-top: 50px;
	padding-bottom: 20px;
	padding-left: 50px;
	padding-right: 90px;
	text-align: center;
	margin-left: 20px;
}
